<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="">
        <div id="vue" :title="message + ' Wow'">
            {{ message }}
            <h1 v-if="status == 1">Свойство равно 1</h1>
            <h1 v-else-if="status == 2">Свойство равно 2</h1>
            <h1 v-else>Свойство равно {{ status }}</h1>
            <hr>
            <template v-if="status == 1">
                <h1>Заголовок 1</h1>
                <p>Описание 1</p>
            </template>
            <template v-else>
                <h1>Заголовок 2</h1>
                <p>Описание 2</p>
            </template>
            <h1 v-show="status">Заголовок с v-show</h1>

            <!-- Создание класса. 
            Ключ - имя класса, значение - это условие -->
            <div class="class-default list" :class="{ active: isActive, 'btn-default': isBtn }">
            </div>
            <div :class="[ isActive ? 'active btn' : 'disabled a', 'default']">
            </div>
            <h1 :style="{ color: 'red', width: width + 'px' }">Текст</h1>
        </div>
    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: "#vue",
            data: {
                message: "Hello, Vue.js!",
                status: 1,
                isActive: true,
                isBtn: true,
                width: 100
            }
        })
    </script>
</body>
</html>